
$padding-top:40px;
@import "typography";
*{
	margin:0;
	padding:0;
}
a {
	text-decoration: none;
}


#app {
	padding-left: 300px;
	padding-top: $padding-top;
}

// navigation styles
nav {
	min-width: 150px;
	padding-left: 40px;
	padding-right:40px;
	padding-top: $padding-top;
	min-height:100%;
	position: fixed;

	background:red;
	a{
		display: block;
		margin-bottom: 10px;
	}
}

// content block
.block {
	margin-bottom: 20px;
	margin-top: 20px;
}

@import "home";
@import "setup";