<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Questrial" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/tachyons.css"/>
    <link rel="stylesheet" href="/assets/css/prisim.css"/>
    <link rel="stylesheet" href="/assets/css/main.css"/>
</head>
<body class="bg-washed-blue" id="page-{{classname}}">
    {{{navigation}}}

    <div id="app" class="fl w-100 w-80-ns">
        {{{content}}}
    </div>

    <script src="/assets/js/jquery.js"></script>
</body>
</html>